
<div class="site-main">
    <div>
        <%= form_with(model: user, local: true) do |form| %>
        <% if user.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
                <% user.errors.full_messages.each do |message| %>
                <li>
                    <%= message %>
                </li>
                <% end %>
            </ul>
        </div>
        <% end %>
        <center>
            <h1>Register</h1>
            <div class="field">
                <%= form.label :email %>
                <%= form.text_field :email %>
            </div>
            <div class="field">
                <%= form.label :password %>
                <%= form.password_field :password %>
            </div>
            <div class="field">
                <%= form.label :Password_Confirmation %>
                <%= form.password_field :Password_Confirmation %>
            </div>
            <div class="actions">
                <%=  form.submit %>
            </div>
            <% end %>
        </center>
    </div>
</div>
