

<div class="container-buy">
    <div class="site-header">
        <div class="site-logo">
            <%= link_to image_tag("logo.png",width:'250',height:'70'), home_path  %>
        </div>
        <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
       
    </div>
    <div class="site-buy-form">
      
        <div class="site-payment-method">
      
            <%= render 'form', order: @order %>
        </div>
    </div>
    <div class="site-buy-footer">
        <p style="text-align: center">&copy; <b>2019 - CN340 SOFTWARE ENGINEERING</b></p>
    </div>
</div>



