<div class="container-register">
    <div class="site-header">
        <div class="site-logo">
            <%= link_to image_tag("logo.png",width:'250',height:'70'), home_path  %>
        </div>
        <div class="site-nav-2">
            <%= link_to "Home" , home_path %>
        </div>
        
        
    </div>
    <div class="site-register">
        <h1>Orders</h1>
        <table cellspacing="40">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Productname</th>
                    <th>Address</th>
                    <th colspan="3"></th>
                </tr>
            </thead>
            <tbody>
                <% @orders.each do |order| %>
                <tr>
                    <td>
                        <%= order.name %>
                    </td>
                    <td>
                        <%= order.productname %>
                    </td>
                    <td>
                        <%= order.address %>
                    </td>
                    <td class="detailimag2 a">
                        <%= link_to 'Show', order %>
                    </td>
                    <td class="detailimag2 a">
                        <%= link_to 'Edit', edit_order_path(order) %>
                    </td>
                    <td class="detailimag2 a">
                        <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="site-login-footer">
        <p style="text-align: center;">&copy; 2019 - CN340 SOFTWARE ENGINEERING</p>
    </div>
</div>